<div>
  <!-- <a>All rights reserved</a> -->
  <ul class="list-unstyled list-inline social text-center">
    <li class="list-inline-item"><a href="https://he-il.facebook.com/sayeret.tzanhanim"><i class="fa fa-facebook" style="color:rgb(50, 50, 50)"></i></a></li>
    <li class="list-inline-item"><a href="https://www.twitter.com/"><i class="fa fa-twitter" style="color:rgb(50, 50, 50)"></i></a></li>
    <li class="list-inline-item"><a href="https://www.instagram.com/sayeret_zanhanim/"><i class="fa fa-instagram" style="color:rgb(50, 50, 50)"></i></a></li>
    <li class="list-inline-item"><a href="https://www.github.com/"><i class="fa fa-github" style="color:rgb(50, 50, 50)"></i></a></li>
    <li class="list-inline-item"><a href="https://www.gmail.com/" target="_blank"><i class="fa fa-envelope" style="color:rgb(50, 50, 50)"></i></a></li>
  </ul>
  
</div>